@{
    ViewData["Title"] = "Acceso denegado";
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">Usted no tiene permisos para acceder a esta opción.</p>
</header>
