@{
    ViewData["Title"] = "Amenazas Naturales";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a data-toggle='modal' data-target='#modalAmenazas' class='btn btn-primary'>Crear amenaza</a>
</p>

<div class="form-group">
    <div class="col-md-6">
        <input id="filtrar" name="filtrar" placeholder="Buscar" onKeyUp="filtrarAmenazas(1,'descripcion');" class="form-control" />
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                <a href="#" onclick='filtrarAmenazas(1,"descripcion")'>Descripci&oacute;n</a>
            </th>
            <th>
                Porcentaje
            </th>
            <th>
                <a href="#" onclick='filtrarAmenazas(1, "estado")'>Estado</a>
            </th>
            <th align="center">
                Opciones
            </th>
        </tr>
    </thead>
    <tbody id="resultSearch"></tbody>
</table>

<div id="paginado">

</div>

<!--Modal Agregar Amenazas-->
<div class="modal fade" id="modalAmenazas" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Agregar amenaza</h4>
            </div>
            <div class="modal-body">
                <form asp-action="">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="Descripcion" class="col-md-2 control-label">Descripci&oacute;n</label>
                            <div class="col-md-10">
                                <input for="Descripcion" id="Descripcion" placeholder="Descripcion" name="Descripcion" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Porcentaje" class="col-md-2 control-label">Porcentaje</label>
                            <div class="col-md-10">
                                <input for="Porcentaje" id="Porcentaje" placeholder="Porcentaje" name="Porcentaje" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Estado" class="col-md-2 control-label">Estado</label>
                            <div class="col-md-10">
                                <select id='Estado' class="form-control">
                                    <option value='0'>Seleccione un estado</option>
                                    <option value='true'>Activo</option>
                                    <option value='false'>No activo</option>
                                </select>
                            </div>
                        </div>
                        <label id="mensaje" class="col-md-2 control-label"></label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button type="button" onclick="agregarAmenaza()" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>

<!--Modal Estado-->
<div class="modal fade" id="ModalEstadoAmenaza" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="titleAmenaza" class="modal-title"></h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                <button type="button" onclick="editarAmenaza()" class="btn btn-primary">Aceptar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
