@{
    ViewData["Title"] = "Asentamientos";
}

<h2>@ViewData["Title"]</h2>



<p>
    <a data-toggle="modal" data-target="#modalAsentamientos" class="btn btn-primary">Crear Asentamiento</a>
</p>

<div class="form-group">
    <div class="col-md-6">
        <input id="filtrar" name="filtrar" placeholder="Buscar" onKeyUp="filtrarAsentamiento(1, 'nombre');" class="form-control" />
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                <a href="#" onclick='filtrarAsentamiento(1, "nombre")'>Nombre</a>
            </th>
            <th>
                <a href="#" onclick='filtrarAsentamiento(1, "provincia")'>Provincia</a>
            </th>
            <th>
                <a href="#" onclick='filtrarAsentamiento(1,"canton")'>Cant&oacute;n</a>
            </th>
            <th>
                <a href="#" onclick='filtrarAsentamiento(1, "distrito")'>Distrito</a>
            </th>
            <th>
                Direcci&oacute;n
            </th>            
            <th>
                Nombre Propietario del Terreno
            </th>
            <th>
                Apellidos Propietario del Terreno
            </th>            
            <th>
                N&uacute;mero de Documento
            </th>
            <th>
                <a href="#" onclick='filtrarAsentamiento(1, "ocupacion");'>Fecha de Ocupaci&oacute;n</a>
            </th>
            <th>
                <a href="#" onclick='filtrarAsentamiento(1, "numViviendas");'>N&uacute;mero de Viviendas</a>
            </th>
            <th>
                <a href="#" onclick='filtrarAsentamiento(1, "estado");'>Estado</a>
            </th>            
            <th align="center">
                Opciones
            </th>
        </tr>
    </thead>
    <tbody id="resultSearch"></tbody>
</table>

<div id="paginado">

</div>

<!--Modal Agregar Tipo Documento-->
<div class="modal fade" id="modalAsentamientos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Agregar asentamiento</h4>
            </div>
            <div class="modal-body">
                <form asp-action="">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="Nombre" class="col-md-2 control-label">Nombre</label>
                            <div class="col-md-10">
                                <input type="text" form="Nombre" id="Nombre" placeholder="Nombre" name="Nombre" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Provincia" class="col-md-2 control-label">Provincia</label>
                            <div class="col-md-10">
                                <select id='ProvinciaAsentamientos' class="form-control">
                                    <option value='0'>[Seleccione una provincia...]</option>

                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Canton" class="col-md-2 control-label">Cantón</label>
                            <div class="col-md-10">
                                <select id='CantonAsentamientos' class="form-control">
                                    <option value='0'>[Seleccione un cantón...]</option>

                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Distrito" class="col-md-2 control-label">Distrito</label>
                            <div class="col-md-10">
                                <select id="DistritoAsentamientos" class="form-control">
                                    <option value='0'>[Seleccione un distrito...]</option>

                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Direccion" class="col-md-2 control-label">Direcci&oacute;n</label>
                            <div class="col-md-10">
                                <input form="Direccion" id="Direccion" placeholder="Direccion" name="Direccion" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Longitud" class="col-md-2 control-label">Longitud</label>
                            <div class="col-md-10">
                                <input form="Longitud" id="Longitud" placeholder="Longitud" name="Longitud" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Latitud" class="col-md-2 control-label">Latitud</label>
                            <div class="col-md-10">
                                <input form="Latitud" id="Latitud" placeholder="Latitud" name="Latitud" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="NombrePropietario" class="col-md-2 control-label">Nombre del Propietario</label>
                            <div class="col-md-10">
                                <input type="text" form="NombrePropietario" id="NombrePropietario" placeholder="NombrePropietario" name="NombrePropietario" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ApellidosPropietario" class="col-md-2 control-label">Apellidos del Propietario</label>
                            <div class="col-md-10">
                                <input type="text" form="ApellidosPropietario" id="ApellidosPropietario" placeholder="ApellidosPropietario" name="ApellidosPropietario" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="TipoDocumento" class="col-md-2 control-label">Tipo de Documento</label>
                            <div class="col-md-10">
                                <select id="TipoDocumentoAsentamientos" class="form-control">
                                    <option value='0'>[Seleccione un tipo de documento...]</option>

                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="NumDocumento" class="col-md-2 control-label">N&uacute;mero de documento</label>
                            <div class="col-md-10">
                                <input type="text" form="NumDocumento" id="NumDocumento" placeholder="Número de Documento" name="NumDocumento" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Ocupacion" class="col-md-2 control-label">Fecha de Ocupación</label>
                            <div class="col-md-10">
                                <input type="text" form="Ocupacion" id="Ocupacion" name="Ocupacion" placeholder="Fecha de Ocupación" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="NumViviendas" class="col-md-2 control-label">Número de Viviendas</label>
                            <div class="col-md-10">
                                <input type="text" form="NumViviendas" id="NumViviendas" name="NumViviendas" placeholder="Número de Viviendas" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Estado" class="col-md-2 control-label">Estado</label>
                            <div class="col-md-10 checkbox">
                                <input type="checkbox" form="Estado" id="Estado" name="Estado" />
                            </div>
                        </div>

                        <label id="mensaje" class="col-md-2 control-label"></label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button type="button" onclick="agregarAsentamiento()" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>

<!--Modal Estado-->
<div class="modal fade" id="ModalEstadoAsentamiento" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Actualizar estado</h4>
            </div>
            <div class="modal-body">
                <h3 id="titleAsentamiento" class="modal-title"></h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                <button type="button" onclick="editarEstadoAsentamiento1()" class="btn btn-primary">Aceptar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@section scripts{ 
    <script>
        $(function () {
            $("#Ocupacion").datepicker({
                showButtonPanel: true,
                showOtherMonths: true,
                selectOtherMonths: true
            });
        });
    </script>
}